{% extends 'basic.html' %}

{% block content %}

<div class="mt-5">

  <div class="container">
    <section class="best-features text-center">
      <!--<h2 class="mb-5 font-weight-bold">Добро пожаловать!</h2>
      <div class="row d-flex justify-content-center mb-4">
        <div class="col-md-8">
          <p class="grey-text"> Каталог новинок 2019 уже доступен!</p>
        </div>
      </div> -->
      <div class="row">
                <div class="col-md-4 mb-5">
                    <h4 class="grey-text"> Лучшая цена</h4>
                    <p class="grey-text">Политика магазина - выгода покупателя!</p>
                </div>
                <div class="col-md-4 mb-5">
                    <h4 class="grey-text">Самый широкий выбор</h4>
                    <p class="grey-text">Сотрудничество с крупнейшими издательствами позволяет BOYTHESDA ежесезонно радовать игроков свежими релизами.</p>
                </div>

                <div class="col-md-4 mb-5">
                    <h4 class="grey-text">Эксклюзивные предложения</h4>
                    <p class="grey-text">Зарегестрированные пользователи получают доступ к уникальным продуктам, эксклюзивным для торговой площадки BOYTHESDA.</p>
                </div>
        </div>
    </section>
  </div>

</div>

{% endblock %}