{% extends 'basic.html' %}

{% block content %}

<div class="mt-5">

  <div class="container">
    <section class="best-features text-center">
      <!--<h2 class="mb-5 font-weight-bold">Добро пожаловать!</h2>
      <div class="row d-flex justify-content-center mb-4">
        <div class="col-md-8">
          <p class="grey-text"> Каталог новинок 2019 уже доступен!</p>
        </div>
      </div> -->
        <h3 style="text-align: center">Демонстрационный магазин Boythesda. Добро пожаловать!</h3>
            <ul style="text-align: justify" class="mt-3">
                <li>В демонстрационном магазине нельзя ничего купить, платёжная система не подключена к реальному счету.</li>
                <li>Данные о товарах получены и загружены в базу данных с игрового раздела сайта <a href = 'https://www.playground.ru/games/' target="_blank">Playground.ru</a></li>
                <li>Данные о ценах товаров сгенерированы случайным образом. Описания видеоигровых издательств заменены "Рыбным текстом" Lorem ipsum.</li>
                <li>Для входа на сайт доступны два пользователя: User (login: User password: Userpassword1) и Admin (login: Admin password: Adminpassword1)</li>
                <li>Код проекта на GitHub: https://github.com/PaltuSuction/Boythesda</li>
                <li>На данный момент не подключена функция смены пароля пользователем, а также недоработано выпадающее меню для фильтрации продуктов по жанрам.</li>
            </ul>
    </section>
  </div>

</div>

{% endblock %}