<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href='{% static 'the_boythesda/styles.css' %}'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>BOYTHESDA</title>
</head>
<body>

    <header>
        <nav class = 'navbar navbar-expand-lg navbar-dark bg-dark' >
        <div class = 'container'>
            <a class = 'navbar-brand'>BOYTHESDA</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a href="{% url 'main' %}" class="nav-link">Главная</a></li>
                    <li class="nav-item"><a href="{% url 'about_us' %}" class="nav-link">О нас</a></li>
                    <li class="nav-item"><a href="{% url 'cart_detail' %}" class="nav-link">Корзина</a></li>
                    {% if user.is_authenticated %}
                         <li class="nav-item"><a href="{% url 'userPage' user.username %}" class="nav-link">{{ user.username }}</a></li>
                        {% else %}
                        <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Вход/Регистрация</a></li>
                    {% endif %}
                </ul>


                   <!-- <form class = 'form-inline mt-2 mt-md-0' action = '/searchGame/' method="get"> -->
                        <form class = 'form-inline mt-2 mt-md-0' action = '{% url 'searchGame' %}' method="get">
                            <div class = 'row'>
                                {% if errors %}
                                    {% for error in errors %}
                                        <input class="form-control mr-sm-2 errorInput" type="text" placeholder="{{error}}" aria-label="Search" id = 'search' name = 'q'>
                                        <button class="btn btn-light my-2 my-sm-0" type="submit">Искать</button>
                                    {% endfor %}
                                {% else %}
                                    <input class="form-control mr-sm-2" type="text" placeholder="Введите ключевые слова" aria-label="Search" id = 'search' name = 'q'>
                                    <button class="btn btn-light my-2 my-sm-0" type="submit">Искать</button>
                                {% endif %}
                            </div>
                        </form>
            </div>
        </div>
    </nav>

    </header>


    <main>
        <div class = 'row'>

            <div class = 'col-md-10 mt-3'>
                {% block content %}

                {% endblock %}
            </div>

            <aside class = 'col-md-2'>
                <div class="p-3">
                    <h4 class="font">Смотрите также:</h4>
                    <ol class="list-unstyled mb">
                        <li><a href="#">Статьи</a></li>
                        <li><a href="#">Форумы</a></li>
                        <li><a href="#">Обзоры</a></li>
                        <li><a href="#">Релизы</a></li>
                        <li><a href="{% url 'publishers' %}">Издатели</a></li>
                        <li>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Жанры<span class="caret"></span></button>
                                <ul class="dropdown-menu scrollable-menu" role="menu">
                                    {% block sidemenu %} {% endblock %}
                                </ul>
                            </div>
                        </li>
                    </ol>
                </div>
            </aside>
        </div>
    </main>

    <footer>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2019-2020</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script></body>
</html>
