{% extends 'basic.html' %}

{% block content %}
    <div class = row>
        <div class = 'center'>
            {% if form.error_dict %}
        <p>Введены неправильные данные. Попробуйте еще раз.</p>
    {% endif %}
    <form action="{% url 'registration' %}" method = 'POST'>

        {% csrf_token %}
        {{ form.as_table }}
        <table class = 'mt-1'>
            <tr>
                <th><label for = 'id_username' class = 'mt-2 mr-4'>Имя пользователя</label></th><th>{{ form.username }}</th>
            </tr>
            <tr>
                 <th><label for = 'id_password1' class = 'mt-2 mr-4'>Пароль</label></th><th>{{ form.password1 }}</th>
            </tr>
            <tr>
                <th><label for = 'id_password2' class = 'mt-2 mr-4'>Пароль (еще раз)</label></th><th>{{ form.password2 }}</th>
            </tr>
        </table>
        <div style="text-align: center"><input class = 'btn btn-secondary' type="submit" value="Зарегистрироваться" /></div>
    </form>
        </div>
    </div>
{% endblock %}