{% extends 'basic.html' %}

{% block content %}
{% if publisher_list %}
    <div class = 'container'>
    <div class = 'row'>
            {% for publisher in publisher_list %}
                <div class = 'col-md-6'>
                    <div class = 'card mt-4'>
                        <div class = 'card-title '>
                            <h1>{{ publisher.name }}</h1>
                        </div>
                    <div class = 'card-body'>
                            {% for game in publisher.game_set.all %}
                                <p><a href = '{% url 'game' game.pk %}'>{{ game.title }}</a>, {{ game.releaseDate }}
                            {% endfor %}
                        <p>Дата основания: {{ publisher.foundation_date }}</p>
                        <a href =  '{% url 'publisher' publisher.pk %}' class="btn btn-primary">Подробнее</a>
                    </div>
                    </div>
                </div>
            {% endfor %}
    </div>
    </div>

            {% if is_paginated %}

            <nav aria-label="Список страниц" class="text-center mb-auto mt-4">
                <ul class="pagination justify-content-center">

                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class = "page-link" href = "?page={{ page_obj.previous_page_number }}">Назад</a></li>
                    {% endif %}

                    {% for num in paginator.page_range %}
                        {% if num == page_obj.number %}
                            <li class="page-item active"><a class="page-link">{{ num }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{num}}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item"><a class = "page-link" href = "?page={{ page_obj.next_page_number }}">Вперед</a></li>
                    {% endif %}

                </ul>
            </nav>

        {% else %}
            <h4>Список ещё не доступен.</h4>
        {% endif %}
    {% endif %}
{% endblock %}