{% extends 'basic.html' %}
{% block content %}
    {% if form.errors %}
        <p>Введен неправильный логин или пароль. Попробуйте ещё раз.</p>
    {% endif %}

        <div class = 'card'>
            <div class = 'card-body'>
                <form method="post">
                    {% csrf_token %}
                 {{ form.as_table }}
                    <input class = 'btn btn-large btn-block btn-outline-dark' type = 'submit' value="Подтвердить">
                </form>
            </div>
        </div>
{% endblock %}