{% extends 'basic.html' %}

{% block content %}
    <form action="{% url 'system_req_create'%}" method="POST">
    {% csrf_token %}
    {% if form.errors %}
        {% for error in form.errors %}
            {{ error }}
        {% endfor %}
    {% endif %}
    <table>
        {{ form.as_table }}
    </table>
    <input type = 'submit' class = 'btn btn-secondary btn-sm' value="Подтвердить">
    </form>
    <a href = '{% url 'game_create' %}'><button onclick="close_window();return false;" class="btn btn-secondary mt-2 btn-sm">Назад</button></a>
{% endblock %}