.center {
    display: block;
    margin: 0 auto;
}

.errorInput ::placeholder {
    color : red;
}

.profile-page-picture {
    width: 200px;

}

.sidemenu {
    height: 100%;
}

.mb-auto, .my-auto {
    margin-bottom: auto !important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

.media-object {
    display: block;
}

.sysreqTable {
    font-size: 0.8rem;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}




