{% extends 'basic.html' %}
{% block content %}
    <div class = container-fluid>
        <h2 class="text-center">{{ game.title }}</h2>
        {% if game.Image %}
        <img src = '{{ game.Image.url }}' alt = 'Изображение' width="700" class = 'GameImage center'>
        {% endif %}
            <div class = 'row'>
                <div class = 'col-sm mt-3'>
                    <p>{{ game.summary }}</p>
                </div>
                <div class = 'col-sm mt-3'>
                    <h4>Системные требования:</h4>
                    <table>
                        <tr>
                            <td><p>Процессор:</p></td>                   <td>{{ game.sysReq.CPU }}</td>
                        </tr>
                        <tr>
                            <td><p>Видеокарта:</p></td>                 <td>{{ game.sysReq.GPU }}</td>
                        </tr>
                        <tr>
                            <td><p>Оперативная память:</p></td>         <td>{{ game.sysReq.DDR }} Гб</td>
                        </tr>
                        <tr>
                            <td><p>Объем на жестком диске:</p></td>     <td>{{ game.sysReq.HDD }} Гб</td>
                        </tr>
                    </table>
                </div>
            </div>


        <p class="price">{{ game.price }} руб.</p>
        <form action="{% url "cart_add" game.pk %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="В корзину">
        </form>
    </div>
{% endblock %}