{% extends 'basic.html' %}
{% block content %}
    <div class = container-fluid>
        <h2 class="text-center">{{ game.title }}</h2>
        <div class = 'row'>
            <div class = 'col-md-4'>
                {% if game.Image %}
                    <img src = '{{ game.Image.url }}' alt = 'Изображение' class = 'img-fluid' width="500">
                {% endif %}

            <div class = "row">
                <div class = "container">
                   {% if game.genre %}
                        {% for genre in game.genre.all %}

                                <a class = "btn btn-secondary btn-sm mt-1" style = 'max-block-size: min-content' href = '{% url 'games_of_genre' genre.id %}'>{{ genre.name }}</a>

                        {% endfor %}
                   {% endif %}
                </div>
            </div>

            </div>

             <div class = 'col-md-8'>
                 <div class = 'summary'>
                     <p>{{ game.summary }}</p>
                 </div>
                 <div>
                      <h5>Системные требования (минимальные):</h5>
                    <table class = 'table'>
                        <tr>
                            <td><p>Процессор:</p></td>                   <td class = 'sysreqTable mb-auto' >{{ game.sysReq.CPU }}</td>
                        </tr>
                        <tr>
                            <td><p>Видеокарта:</p></td>                 <td class = 'sysreqTable mb-auto'>{{ game.sysReq.GPU }}</td>
                        </tr>
                        <tr>
                            <td><p>Оперативная память:</p></td>         <td class = 'sysreqTable mb-auto'>{{ game.sysReq.DDR }} Гб</td>
                        </tr>
                        <tr>
                            <td><p>Объем на жестком диске:</p></td>     <td class = 'sysreqTable mb-auto'>{{ game.sysReq.HDD }}</td>
                        </tr>
                    </table>
                 </div>
            </div>
        </div>

        {% if game.price %}
            <p class="price">{{ game.price }} руб.</p>
            {% else %}
            <p class="price">Цена не указана</p>
        {% endif %}

        <form action="{% url "cart_add" game.pk %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="В корзину">
        </form>
    </div>
{% endblock %}